/* Geral */
*{
    padding:0;
    margin:0;
    color:#333;
    font-family: Helvetica, sans-serif;
}

body{
    background-image: url("../image/background.jpg");
    background-position: center;
    background-size:cover;
}

button{
    background:#fdfdfd;
    color:#102f5e;
    border: 2px solid #102f5e;
    border-radius: 5px;;
    padding: .3rem .6rem;
    font-size:1rem;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

p,h4{
    margin-top:20px;
}


#cancel-edit-btn{
    margin-bottom: 1rem;
}

button:hover{
    background-color:#102f5e;
    color:#fff;
}

button:hover > i {
    color:#fff;
}

button i {
    color:#102f5e;
    font-weight: bold;
    pointer-events: none;
}

input,
select{
    padding: 0.25rem 0.5rem
}

.hide{
    display: none;
}

/* Todo header*/
.todo-container{
    max-width:550px;
    margin: 3rem auto ;
    background-color: #fdfdfd;
    padding:1.5rem;
    border-radius: 15px;
}

.todo-container header{
    text-align:center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-input{
    width:500px;
}

/* Todo Form*/
#todo-form p,
#edit-form p{
    margin-bottom:0.5rem;
    font-weight: bold;
}

.form-control{
    display:flex;
}

.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top:1rem;
}

#edit-form{
    border-bottom: 1px solid #ccc;
}

/* Todo Toolbar*/
#toolbar{
    padding:1rem;
    border-bottom:1px solid #ccc;
    display:flex;
}

.toolbar-container{
    display:flex;
    border-bottom:1px solid #ccc;
}

#toolbar h4{
    margin-bottom:0.5rem;
}

#search{
    border-right: 1px solid #ddd;
    padding-right:1rem;
    margin-right:1rem;
    margin-top:1rem;
    margin-bottom: 1rem;;
    width:65%;
    display:flex;
    flex-direction:column;
}

#search form{
    display:flex;
}

#search input{
    width:100%;
    margin-right:0.3rem;
}

#filter{
    margin-top:1rem;
    margin-bottom:1rem;
    width:35%;
    display:flex;
    flex-direction:column;
}

#filter select{
    flex: 1;
}


/* To do list*/
.todo{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
    border-bottom:1px solid #ddd;
    transition: 0.3s;
}

.todo h3{
    flex:1;
    font-size:0.9rem;
}

.todo button{
    margin-left: 10PX;
}

.done{
    background-color: #395169;;
}

.done h3{
    color:#fff;
    text-decoration: line-through;
    font-style:italic;
}



